/* the main color variables for the frontend UI */
:root {
  --darkshade: #30535d;
  --lightshade: #e8ebea;
  --lightaccent: #dcb265;
  --darkaccent: #ab6e65;
  --mainbrand: #7ca8ab;
}

body {
  background-color: var(--darkshade);
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
}
.interface {
  background-color: var(--lightshade);
  padding: 1rem;
  width: 80%;
  height: 100vh;
  margin-left: 10%;
}

/* //jumbotron styling */
.jumbotron h1 {
  font-size: 3rem;
}
.jumbotron {
  background-color: var(--mainbrand);
  padding: 2rem;
  padding-bottom: 0.7rem;
}
#list-logo {
  font-size: 2.3rem;
}
.btn-primary {
  background-color: var(--mainbrand);
  border: 1px solid var(--mainbrand);
}
.btn-primary:hover {
  background-color: var(--darkshade);
}
.main {
  font-size: 1.3rem;
  height: 3rem;
  line-height: 1rem;
  position: relative;
  left: 2rem;
  /* margin-left: 3rem;
  margin-right: 2rem; */
}
.btn .material-icons {
  /* margin-bottom: -5px; */
  font-size: 22px;
}
.tasks {
  height: 230px;
  overflow: scroll;
  margin-top: 2rem;
  /* background-color: pink; */
}
.card {
  margin-top: 0rem;
  background-color: var(--lightshade);
  border-radius: 0px;
  border-left: none;
  border-right: none;
}
#date-bar,
#categ-bar,
#desc-bar,
#inputGroupSelect01 {
  height: 4rem;
}
#inputGroupSelect01 {
  margin-right: -12px;
}
.input-group-text {
  background-color: var(--lightshade);
}
.card-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.done {
  width: 15%;
  align-items: baseline;
}
.card-desc {
  text-align: left;
  width: 70%;
}
.category-card {
  height: 100%;
  width: 15%;
  margin-right: 1rem;
  /* background-color: purple; */
}
.calender {
  font-size: 0.7rem;
}
.due {
  color: gray;
}
.btn-primary.disabled,
.btn-primary:disabled {
  background-color: purple;
  border: purple;
  opacity: 0.9;
  border-radius: 0em;
}
