/* the main color variables for the frontend UI */
:root {
  --darkshade: #30535d;
  --lightshade: #e8ebea;
  --lightaccent: #dcb265;
  --darkaccent: #ab6e65;
  --mainbrand: #7ca8ab;
}
/* setting body-wide styles */
body {
  background-color: var(--darkshade);
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
}

/* interface box wide styles */
.interface {
  background-color: var(--lightshade);
  padding: 1rem;
  width: 80%;
  height: 100vh;
  margin-left: 10%;
}

/* //jumbotron styling */
.jumbotron h1 {
  font-size: 3rem;
}
.jumbotron {
  background-color: var(--mainbrand);
  padding: 2rem;
  padding-bottom: 0.7rem;
}
/* list icon */
#list-logo {
  font-size: 2.3rem;
}

/* add button */
.btn-primary {
  background-color: var(--mainbrand);
  border: 1px solid var(--mainbrand);
}
.btn-primary:hover {
  background-color: var(--darkshade);
}
/* delete button */
.btn-danger {
  background-color: #a53f2f;
  border: 1px solid #a53f2f;
}
.btn-danger:hover {
  background-color: rgb(118, 24, 10);
}

/* styles for input fields */
#date-bar,
#categ-bar,
#desc-bar,
#inputGroupSelect01 {
  height: 4rem;
}
#inputGroupSelect01 {
  margin-right: -12px;
}
.input-group-text {
  background-color: var(--lightshade);
}
/* class for both delete and add  */
.main {
  font-size: 1.3rem;
  height: 3rem;
  line-height: 1rem;
  position: relative;
  left: 1.8rem;
}

.btn .material-icons {
  font-size: 22px;
}
.plus {
  margin-top: -2px;
}
.trash {
  padding-top: 5px;
}

/* task section styles */
.tasks {
  height: 230px;
  overflow: scroll;
  margin-top: 2rem;
  /* background-color: pink; */
}
/* card styles */
.card {
  margin-top: 0rem;
  background-color: var(--lightshade);
  border-radius: 0px;
  border-left: none;
  border-right: none;
}

.card-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.done {
  width: 5%;
  align-items: baseline;
}
.card-desc {
  text-align: left;
  width: 70%;
}
/* task category */
.category {
  text-transform: uppercase;
}
.category-card {
  height: 100%;
  width: 15%;
  margin-right: 1rem;
}
/* calender icon for date */
.calender {
  font-size: 0.7rem;
}
.due {
  color: gray;
}

/* task category wise colorization */
#work {
  background-color: var(--darkaccent);
  border: var(--darkaccent);
  opacity: 0.9;
  border-radius: 0em;
}
#personal {
  background-color: purple;
  border: purple;
  opacity: 0.9;
  border-radius: 0em;
}

#school {
  background-color: rgb(39, 210, 5);
  border: rgb(39, 210, 5);
  opacity: 0.9;
  border-radius: 0em;
}
#cleaning {
  background-color: cyan;
  border: cyan;
  opacity: 0.9;
  border-radius: 0em;
}
#other {
  background-color: orange;
  border: orange;
  opacity: 0.9;
  border-radius: 0em;
}
#null {
  display: none;
}

/* checkbox customization */
.card-body input[type="checkbox"] {
  height: 3rem;
  /* width: 3rem; */
}
